*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: .7em;
  font-family: sans-serif;
  background-color: #ccc;
}

.container {  /*height and width are google 3xl pixel size*/
  background-color: #fff;
  width: 360px;
  height: 740px;
  display: block;
  margin: 50px auto;
  border: 1px solid #aaa;
  padding: 0px;
  overflow: auto;
}

.status-bar {
  background-color: #E0E0E0;
  width: 50% auto;
  padding: 0%;
  /*display: block; */
}

 .title-bar {
  box-sizing: border-box;
  background-color: #f5f5f5;
  width: 100%;
  display: inline;
  position: relative;
  /*text-align: center; */
}

  .hamburger-menu {
    margin: 10px;
    width: 50%;
  }

  .search {
    display: inline;
    width: 50%;
    margin: 10px;
  }

.chevron {
  float: right;
  margin-right: 20px;
}

/*.title-bar > .hamburger-menu {
  position: fixed;
  margin-top: 10px; /*doesn't move the menu icon -- need merge title-bar & menu icon settings*/
  /*display: inline;
} */

.title-stop {
  text-align: center;
  font-size: 1.6em;
}

/*  .map {
    width: 100%;
  } */

 .bus-info {
   margin: 5px 0 0 7px;
 }

  h3 {
    font-size: 1.7em;
  }

.eastbound, .northbound, .southbound, .reroute, .oos {
  display: inline-block;
}

  .eastbound-info {
  display: block;
  }
