*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
  background-color: #ccc;
}

.container {  /*height and width are google 3xl pixel size*/
  background-color: #fff;
  width: 360px;
  height: 740px;
  display: block;
  margin: 50px auto;
  border: 1px solid #aaa;
  padding: 0px;
  overflow: auto;
}

.status-bar {
  background-color: #E0E0E0;
  width: 50% auto;
  padding: 0%;
  /*display: block; */
}

 .title-bar {
  background-color: #f5f5f5;
  width: 45% auto;
  padding: 4% 4% 4% 2%;
  font-size: 1.7em;
  text-align: center;
}

/*  .map {
    width: 100%;
  } */

  .currently {
    margin: 2%;
    font-size: 1.5em;
    font-weight: bold;
  }

  .currently-info {
    margin: 2%;
    font-size: 1.2em;
    line-height: 130%;
  }

  h4 {

  }
