*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background-color: #ccc;
  color: #fff;
}

.container {  /*height and width are google 3xl pixel size*/
  background-color: #195485;
  width: 360px;
  height: 740px;
  display: block;
  margin: 50px auto;
  border: 1px solid #aaa;
  padding: 0px;
  overflow: auto;
}

.status-bar {
  background-color: #E0E0E0;
  width: 50% auto;
  padding: 0%;
  /*display: block; */
}

 .title-bar {
  background-color: #195485;
  color: #fff;
  display: inline;
  width: 0;
  margin: 10px;
  padding: 0;
  font-size: 1.6em;
  /*text-align: center; */
}

.title-bar > .hamburger-menu {
  background-color: #195485;
  position: fixed;
  margin-top: 10px; /*doesn't move the menu icon -- need merge title-bar & menu icon settings*/
  display: inline;
}

.title-stop {
  background-color: #195485;
  text-align: center;
}

.search {
  background-color: #195485;
  margin-left: 90%;
  margin-top: 10px;
}

/*  .map {
    width: 100%;
  } */

  .bus-info {
    background-color: #4B7699;
  }
  .eastbound {
    
  }

  .eastbound-info {
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
    font-weight: bold;
  }
